<!DOCTYPE html>
<html>

<head>
    <title>

    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        Edit a Car Model
    </h1>
    <p>Edit a Car</p>
    <form action="/car/<%= carPost.id %>/edit" method="post">
        <label for="manufacturer">Manufacturer:</label><br>
        <input type="text" id="manufacturer" name="manufacturer" value="<%= carPost.manufacturer %>"><br>
        <label for="model">Model:</label><br>
        <input type="text" id="model" name="model" value="<%= carPost.model %>"><br>
        <label for="color">Color:</label><br>
        <input type="text" id="color" name="color" value="<%= carPost.color %>"><br>
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year" value="<%= carPost.year %>"><br><br>
        <input type="submit" value="Submit">
    </form>



</body>

</html>